@model List<WebDongHo.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {
    <style>
        td.product-quantity .quantity .plus {
            float: left;
            position: static;
            background: #ccc;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            height: auto;
            padding: 4px 5px;
            width: 25px;
            border: 0;
            font-size: 18px;
            -webkit-box-shadow: none;
            box-shadow: none;
            text-shadow: none;
            font-weight: 400;
            display: block !important;
            position: absolute;
            right: -9px;
            height: 100%;
        }

            td.product-quantity .quantity .plus:hover {
                background: #014693;
                color: #fff;
            }

        table.cart input {
            margin: 0;
            vertical-align: middle;
        }
    </style>
}
<div id="main" class="theme-clearfix" role="document" style="background: #eee">
    <div class="breadcrumbs theme-clearfix"><div class="container"><ul class="breadcrumb"><li><a href="https://ldstore.vn">Trang chủ </a><span class="go-page"></span></li><li class="active"><span>Cart</span></li></ul></div></div>
    <div class="container">
        <div class="row">
            <div id="contents" role="main" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="post-27 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="woocommerce">
                                            <div class="woocommerce-notices-wrapper"></div>
                                            <table class="shop_table cart" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th class="product-remove">&nbsp;</th>
                                                        <th class="product-thumbnail">Ảnh sản phẩm </th>
                                                        <th class="product-name">Tên sản phẩm </th>
                                                        <th class="product-price">giá </th>
                                                        <th class="product-quantity">Số lượng </th>
                                                        <th class="product-subtotal">Tổng giá </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model)
                                                    {
                                                        <tr class="cart_item">

                                                            <td class="product-remove">
                                                                <button class="remove" title="Remove this item" data-id="@item.Product.ID">×</button>
                                                            </td>

                                                            <td class="product-thumbnail">
                                                                <a href="/chi-tiet/@item.Product.MetaTitle-@item.Product.ID"><img width="300" height="300" src="@item.Product.Thumb"></a>
                                                            </td>

                                                            <td class="product-name">
                                                                <a href="/chi-tiet/@item.Product.MetaTitle-@item.Product.ID">@item.Product.Title</a>
                                                            </td>

                                                            <td class="product-price">
                                                                <span class="woocommerce-Price-amount amount">@item.Product.Price.Value.ToString("N0")&nbsp;<span class="woocommerce-Price-currencySymbol">đ</span></span>
                                                            </td>

                                                            <td class="product-quantity">
                                                                <div class="quantity buttons_added">
                                                                    <span   class="minus">-</span>
                                                                    <input type="number" data-id="@item.Product.ID" class="input-text qty text" step="1" min="1" max="@item.Product.Quantity" value="@item.Quantity" title="SL" size="4" inputmode="numeric">
                                                                    <span  class="plus">+</span>
                                                                </div>
                                                            </td>

                                                            <td class="product-subtotal">
                                                                <span class="cart-p-price woocommerce-Price-amount amount" data-price="@item.Product.Price">@((item.Product.Price.GetValueOrDefault(0) * item.Quantity).ToString("N0") +" đ")</span>
                                                            </td>
                                                        </tr>
                                                    }

                                                    <tr>
                                                        <td colspan="6" class="actions">

                                                            <button class="button" id="del_cart" style="width: 30%;margin-left: 70%;background: #189eff!important;color: #fff!important;">Xoá giỏ hàng</button>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>


                                            <div class="cart-collaterals">
                                                <div class="cart_total">
                                                    <div class="cart_totals ">


                                                        <h2>Cộng giỏ hàng</h2>

                                                        <table cellspacing="0" class="shop_table shop_table_responsive">

                                                            <tbody>
                                                                <tr class="order-total">
                                                                    <th>Tổng</th>
                                                                    <td data-title="Tổng"><strong><span class="price woocommerce-Price-amount amount">@(Model.Sum(x => x.Quantity * x.Product.Price).Value.ToString("N0") +" đ")</span></strong> </td>
                                                                </tr>


                                                            </tbody>
                                                        </table>

                                                        <div class="wc-proceed-to-checkout">

                                                            <a href="#" class="checkout-button button alt wc-forward">
                                                                Tiến hành thanh toán
                                                            </a>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
