<!DOCTYPE html>
<html lang="vi-VN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LD Store - Chuyên Đồng hồ thông minh - Smartwatch chính hãng - LD Store</title>
    @*<style type="text/css" data-type="vc_shortcodes-custom-css">
            .vc_custom_1562259477931 {
                background-color: #eeeeee !important;
            }

            .vc_custom_1502190690519 {
                padding-top: 10px !important;
                padding-bottom: 10px !important;
            }
        </style>*@

    @*<style type="text/css">

            img.wp-smiley,
            img.emoji {
                display: inline !important;
                border: none !important;
                box-shadow: none !important;
                height: 1em !important;
                width: 1em !important;
                margin: 0 .07em !important;
                vertical-align: -0.1em !important;
                background: none !important;
                padding: 0 !important;
            }
        </style>*@
    <link rel="stylesheet" href="/Assets/Client/css/style.min.css">
    <link rel="stylesheet" href="/Assets/Client/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <link href="/Assets/Client/fontawesome-pro-5.15.1-web/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Assets/Client/css/frontend.css">
    <link rel="stylesheet" href="/Assets/Client/css/bbpress.css">
    <link rel="stylesheet" href="/Assets/Client/css/styles.css">
    <link rel="stylesheet" href="/Assets/Client/css/bliss-loadmore.css">
    <link rel="stylesheet" href="/Assets/Client/css/settings.css">
    @*<style id="rs-plugin-settings-inline-css" type="text/css">

            #rs-demo-id {
            }

            #rev_slider_1_1_wrapper .tp-loader.spinner2 {
                background-color: #FFFFFF !important;
            }

            .persephone .tp-bullet {
                width: 12px;
                height: 12px;
                position: absolute;
                background: rgba(170, 170, 170, 1);
                border: 1px solid rgba(229, 229, 229, 1);
                cursor: pointer;
                box-sizing: content-box;
            }

                .persephone .tp-bullet:hover,
                .persephone .tp-bullet.selected {
                    background: rgba(0, 0, 0, 1);
                }
        </style>
        <style>

            .header_banner a img {
                width: 100%;
                height: 400px;
                object-fit: cover;
            }
        </style>*@
    <link rel="stylesheet" href="/Assets/Client/css/woocommerce-layout.css">
    <link rel="stylesheet" href="/Assets/Client/css/woocommerce-smallscreen.css">
    <link href="~/Assets/Client/css/woocommerce.css" rel="stylesheet" />
    @*<style id="woocommerce-inline-inline-css" type="text/css">

            .woocommerce form .form-row .required {
                visibility: visible;
            }
        </style>*@
    <link rel="stylesheet" href="/Assets/Client/css/style(1).css">
    <link rel="stylesheet" href="/Assets/Client/css/sw_woocommerce_search_products.css">
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="https://ldstore.vn/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css?ver=6.0.5">
    <![endif]-->
    <link rel="stylesheet" href="/Assets/Client/css/js_composer.min.css">
    <link rel="stylesheet" href="/Assets/Client/css/jquery.fancybox.css">
    <link rel="stylesheet" href="/Assets/Client/css/shortcodes.css">
    <link rel="stylesheet" href="/Assets/Client/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/Client/css/app-blue-cyan.css">
    <link rel="stylesheet" href="/Assets/Client/css/page-home2-blue-cyan.css">
    <link rel="stylesheet" href="/Assets/Client/css/app-responsive.css">
    <link rel="stylesheet" href="/Assets/Client/css/style(2).css">
    <link rel="stylesheet" href="/Assets/Client/css/popup.css">
    <link rel="stylesheet" href="/Assets/Client/css/messenger.css">
    <link href="/Assets/Client/css/select2.css" rel="stylesheet" />
    @RenderSection("css", required: false)
    <style>
        body, input, button, select, textarea, .search-query {
            font-family: Roboto !important;
        }
        #success-alert {
            font-size: 16px;
            position: fixed;
            width: 350px;
            height: 56px;
            top: 70px;
            background: #fff;
            box-shadow: 0 4px 30px rgba(0, 0, 0, .15);
            left: calc(50% - 175px);
            z-index: 9999;
            display: flex;
            align-items: center;
            justify-content: center
        }

            #success-alert i {
                color: #005ec4;
                margin-right: 18px
            }

        #empty-alert {
            font-size: 16px;
            position: fixed;
            width: 350px;
            height: 56px;
            top: 70px;
            background: #fff;
            box-shadow: 0 4px 30px rgba(0, 0, 0, .15);
            left: calc(50% - 175px);
            z-index: 9999;
            display: flex;
            align-items: center;
            justify-content: center
        }

            #empty-alert i {
                color: #005ec4;
                margin-right: 18px
            }

    </style>
    <link rel="icon" href="https://ldstore.vn/wp-content/uploads/2019/07/Ldstore-favicon.png" sizes="32x32">
    <link rel="icon" href="https://ldstore.vn/wp-content/uploads/2019/07/Ldstore-favicon.png" sizes="192x192">
</head>
<body class="home page woocommerce-js page-hitech-store-03 page-template-page-home2 wpb-js-composer js-comp-ver-6.0.5 vc_responsive">
    <div class="body-wrapper theme-clearfix" id="body_wrapper">
        <div class="body-wrapper-inner">
            <div id="yt_header" class="yt-header wrap">
                <div class="header-style11">
                    <div class="yt-header-top">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 sl-header-text">
                                    <div class="offer-wrapper">
                                        <div class="offer-header">
                                            <ul id="offer-info">
                                                <li>
                                                    <i class="sp-ic fa fa-envelope">&nbsp;</i>E-mail: <a title="ldstorevn8@gmail.com" href="mailto:ldstorevn8@gmail.com">ldstorevn8@gmail.com</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 top-links-action">
                                    @*<div class="my-checkout pull-right">
                                            <a href="/dat-hang/" title="Thanh toán">Thanh toán</a>
                                        </div>*@
                                    @*<div class="my-account block-action-header pull-right">
                                            <ul>
                                                <li>
                                                    <a href="/my-account/">Tài khoản</a>
                                                    <ul>
                                                        <li>
                                                            <div class="top-login pull-left">
                                                                <ul>
                                                                    <li>
                                                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#login_form"><span>Login</span></a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                        <li><a href="/my-account/" title="Tài khoản">Tài khoản</a></li>
                                                        <li><a href="/cart/" title="Giỏ hàng">Giỏ hàng của tôi</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>*@
                                    @*<div class="my-wishlist pull-right">
                                            <a href="https://ldstore.vn/" title="My Wishlist">My Wishlist</a>
                                        </div>*@
                                </div>
                                @*<div class="modal fade" id="login_form" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog block-popup-login">
                                            <a href="javascript:void(0)" title="Close" class="close close-login" data-dismiss="modal">Close</a>
                                            <div class="tt_popup_login"><strong>Sign in Or Register</strong></div>
                                            <div class="woocommerce-notices-wrapper"></div>
                                            <form method="post" class="login" id="login_ajax" action="https://ldstore.vn/wp-login.php">
                                                <div class="block-content">
                                                    <div class="col-reg registered-account">
                                                        <div class="email-input">
                                                            <input type="text" class="form-control input-text username" name="username" id="username" placeholder="Username">
                                                        </div>
                                                        <div class="pass-input">
                                                            <input class="form-control input-text password" type="password" placeholder="Password" name="password" id="password">
                                                        </div>
                                                        <div class="ft-link-p">
                                                            <a href="https://ldstore.vn/my-account/lost-password/" title="Forgot your password">Forgot your password?</a>
                                                        </div>
                                                        <div class="actions">
                                                            <div class="submit-login">
                                                                <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="9b35fdf025"><input type="hidden" name="_wp_http_referer" value="/"> <input type="submit" class="button btn-submit-login" name="login" value="Login">
                                                            </div>
                                                        </div>
                                                        <div id="login_message"></div>
                                                    </div>
                                                    <div class="col-reg login-customer">
                                                        <h2>NEW HERE?</h2>
                                                        <p class="note-reg">Registration is free and easy!</p>
                                                        <ul class="list-log">
                                                            <li>Faster checkout</li>
                                                            <li>Save multiple shipping addresses</li>
                                                            <li>View and track orders and more</li>
                                                        </ul>
                                                        <a href="https://ldstore.vn/my-account/" title="Register" class="btn-reg-popup">Create an account</a>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="clear"></div>
                                            <div class="login-line"><span>Or</span></div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="yt-header-middle">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 logo-wrapper">
                                    <a href="/">
                                        <img src="/Assets/Client/img/ld-store-logoweb-xanh-1.png" alt="LD Store" width="140" height="57">
                                    </a>
                                </div>
                                <div class="yt-megamenu pull-left">
                                    <div class="yt-header-under">
                                        <a class="phone-icon-search icon-search" title="Search"><i class="fa fa-search"></i></a>
                                        <div id="sm_serachbox_pro" class="sm-serachbox-pro">
                                            <div class="widget-1 widget-first widget sw_woo_search-1 sw_woo_search">
                                                <div class="widget-inner">
                                                    <div class="swsearch-wrapper">
                                                        <h3></h3>
                                                        <form id="form-search" action="/tim-kiem" method="get">
                                                            <div class="form-search input-group">
                                                                @*<div class="select_category filter_type  icon-select cat-wrapper">
                                                                        <select class="no-border" name="category">
                                                                            <option value="all">All Category</option>
                                                                            <option value="chua-phan-loai">Chưa phân loại</option>
                                                                            <option value="matrix">Matrix</option>
                                                                            <option value="oppo">Oppo</option>
                                                                            <option value="polar">Polar</option>
                                                                            <option value="xiaomi1">Xiaomi</option>
                                                                            <option value="apple">Apple</option>
                                                                            <option value="zen-watch">Asus</option>
                                                                            <option value="fitbit">Fitbit</option>
                                                                            <option value="garmin">Garmin</option>
                                                                            <option value="huawei">Huawei</option>
                                                                            <option value="lg">LG</option>
                                                                            <option value="motorola">Motorola</option>
                                                                            <option value="pebble">Pebble</option>
                                                                            <option value="phukien">Phụ kiện</option>
                                                                            <option value="quasudung">Qua Sử Dụng</option>
                                                                            <option value="samsung">Samsung</option>
                                                                            <option value="ticwatch">Ticwatch</option>
                                                                            <option value="vongdeotay">Vòng Đeo Tay</option>
                                                                            <option value="zte">ZTE</option>
                                                                        </select>
                                                                    </div>*@
                                                                <div class="input-search">
                                                                    <input class="autosearch-input form-control" type="text" value="" size="50" autocomplete="off" placeholder="Tìm kiếm sản phẩm" name="keyword">
                                                                    @*<ul class="dropdown-menu"></ul>*@
                                                                </div>
                                                                <button type="submit" class="button-search button-search-pro"><i class="fa fa-search"></i></button>
                                                                @*<input name="post_type" value="product" type="hidden">*@
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="my-curency-lang">
                                                <div class="block-action-header language-switcher pull-right">
                                                    <div class="textwidget">
                                                        <div id="lang_sel">
                                                            <ul class="nav">
                                                                <li>
                                                                    <a class="lang_sel_sel icl-en" href="https://ldstore.vn/#">
                                                                        <img class="iclflag" title="English" alt="en" src="./LD Store - Chuyên Đồng hồ thông minh - Smartwatch chính hãng - LD Store_files/en.png" width="18" height="12">
                                                                        ENG
                                                                    </a>
                                                                    <ul>
                                                                        <li class="icl-en active">
                                                                            <a href="https://ldstore.vn/?page_id=8761&amp;direction=ltr">
                                                                                <img class="iclflag" title="English" alt="en" src="./LD Store - Chuyên Đồng hồ thông minh - Smartwatch chính hãng - LD Store_files/en.png" width="18" height="12">
                                                                                ENG
                                                                            </a>
                                                                        </li>
                                                                        <li class="icl-ar">
                                                                            <a href="https://ldstore.vn/?page_id=8761&amp;direction=rtl">
                                                                                <img class="iclflag" title="Arabic" alt="ar" src="./LD Store - Chuyên Đồng hồ thông minh - Smartwatch chính hãng - LD Store_files/ar.png" width="18" height="12">
                                                                                ARA
                                                                            </a>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="block-action-header block-currency pull-right">
                                                    <form method="post" class="currency_converter" action="https://ldstore.vn/">
                                                        <ul class="currency_w">
                                                            <li>
                                                                <a href="https://ldstore.vn/#" class="">USD</a>
                                                                <ul class="currency_switcher">
                                                                    <li><a href="https://ldstore.vn/#" class="" data-currencycode="USD">USD</a></li>
                                                                    <li><a href="https://ldstore.vn/#" class="" data-currencycode="EUR">EUR</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </form>
                                                </div>
                                            </div>*@
                                        <div class="keyword">
                                            Từ Khoá: <a href="https://ldstore.vn/?s=Garmin&amp;search_posttype=product">Garmin</a> | <a href="https://ldstore.vn/?s=Ticwatch&amp;search_posttype=product">Ticwatch</a> | <a href="https://ldstore.vn/?s=Huawei&amp;search_posttype=product">Huawei</a> | <a href="https://ldstore.vn/?s=%20LG&amp;search_posttype=product"> LG</a> | <a href="https://ldstore.vn/?s=Pebble&amp;search_posttype=product"> Pebble</a> | <a href="https://ldstore.vn/?s=Apple%20watch&amp;search_posttype=product"> Apple watch</a>
                                        </div>
                                    </div>
                                </div>
                                @{Html.RenderAction("CardHeader", "Home"); }
                            </div>
                        </div>
                    </div>
                    <div class="yt-header-under-2" style="top: 0px; left: 0px; right: 0px;">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 cate-vertical-mega">
                                    <div class="ver-megamenu-header">
                                        <div class="mega-left-title">
                                            <strong>Danh mục sản phẩm</strong>
                                        </div>
                                        <div class="resmenu-container">
                                            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#ResMenuleftmenu" data-title="Danh mục sản phẩm">
                                                <span class="sr-only">Danh mục sản phẩm</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            @*<div id="ResMenuleftmenu" class="collapse menu-responsive-wrapper">
                                                    <ul id="menu-danh-muc-san-pham" class="flytheme_resmenu">
                                                        <li class="menu-xiaomi"><a class="item-link" href="https://ldstore.vn/xiaomi1/">Xiaomi</a></li>
                                                        <li class="menu-ticwatch"><a class="item-link" href="https://ldstore.vn/ticwatch/">Ticwatch</a></li>
                                                        <li class="menu-samsung"><a class="item-link" href="https://ldstore.vn/samsung/">Samsung</a></li>
                                                        <li class="menu-huawei"><a class="item-link" href="https://ldstore.vn/huawei/">Huawei</a></li>
                                                        <li class="menu-oppo"><a class="item-link" href="https://ldstore.vn/oppo/">Oppo</a></li>
                                                        <li class="menu-garmin"><a class="item-link" href="https://ldstore.vn/garmin/">Garmin</a></li>
                                                        <li class="menu-polar"><a class="item-link" href="https://ldstore.vn/polar/">Polar</a></li>
                                                        <li class="menu-fitbit"><a class="item-link" href="https://ldstore.vn/fitbit/">Fitbit</a></li>
                                                        <li class="menu-matrix"><a class="item-link" href="https://ldstore.vn/matrix/">Matrix</a></li>
                                                        <li class="menu-asus"><a class="item-link" href="https://ldstore.vn/zen-watch/">Asus</a></li>
                                                        <li class="menu-lg"><a class="item-link" href="https://ldstore.vn/lg/">LG</a></li>
                                                        <li class="menu-apple"><a class="item-link" href="https://ldstore.vn/apple/">Apple</a></li>
                                                        <li class="menu-pebble"><a class="item-link" href="https://ldstore.vn/pebble/">Pebble</a></li>
                                                        <li class="menu-motorola"><a class="item-link" href="https://ldstore.vn/motorola/">Motorola</a></li>
                                                        <li class="menu-vong-deo-tay"><a class="item-link" href="https://ldstore.vn/vongdeotay/">Vòng Đeo Tay</a></li>
                                                        <li class="menu-zte"><a class="item-link" href="https://ldstore.vn/zte/">ZTE</a></li>
                                                        <li class="menu-phu-kien"><a class="item-link" href="https://ldstore.vn/phukien/">Phụ kiện</a></li>
                                                        <li class="menu-qua-su-dung"><a class="item-link" href="https://ldstore.vn/quasudung/">Qua Sử Dụng</a></li>
                                                    </ul>
                                                </div>*@
                                        </div>
                                        @{Html.RenderAction("ProductCategory", "Home"); }
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-9 col-sm-5 col-xs-6 main-mega"></div>
                                <div class="hot-line col-lg-3 col-md-0 col-sm-4 col-xs-12">
                                    <i class="sp-ic fa fa-phone">&nbsp;</i>Hot line: <a title="0924049999" href="https://ldstore.vn/#">0924049999</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @RenderBody()

            @RenderSection("storeInfo", required: false)

            @RenderSection("banner", required: false)


            @RenderSection("productSlider", required: false)

            <div id="yt_footer" class="yt-footer wrap">
                <div class="yt-footer-wrap-">
                    <div class="footer-middle">
                        <div class="container">
                            <div class="widget-1 widget-first widget sw_partner_slider-2 sw_partner_slider">
                                <div class="widget-inner">
                                    <div id="sw_partner_8908014241607760865" class="responsive-slider sw-partner-container-slider clearfix" data-lg="6" data-md="5" data-sm="4" data-xs="3" data-mobile="2" data-speed="1000" data-scroll="1" data-interval="5000" data-autoplay="true">

                                        <div class="title-home"></div>
                                        <div class="resp-slider-container">
                                            @{Html.RenderAction("Brand", "Home"); }
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="footer-column">
                                <div class="footer-border">
                                    <div class="footer-title">
                                        <h2>Chính sách khách hàng</h2>
                                    </div>
                                    <ul id="menu-chinh-sach-khach-hang" class="menu">
                                        <li class="menu-chinh-sach-bao-hanh ya-menu-custom level1"><a target="_blank" rel="nofollow" href="https://ldstore.vn/chinh-sach-bao-hanh/" class="item-link"><span class="have-title"><span class="menu-title">Chính sách bảo hành</span></span></a></li>
                                        <li class="menu-chinh-sach-bao-mat ya-menu-custom level1"><a target="_blank" rel="nofollow" href="https://ldstore.vn/chinh-sach-bao-mat/" class="item-link"><span class="have-title"><span class="menu-title">Chính sách bảo mật</span></span></a></li>
                                        <li class="menu-chinh-sach-doi-tra ya-menu-custom level1"><a target="_blank" rel="nofollow" href="https://ldstore.vn/chinh-sach-doi-tra/" class="item-link"><span class="have-title"><span class="menu-title">Chính sách đổi trả</span></span></a></li>
                                        <li class="menu-chinh-sach-van-chuyen ya-menu-custom level1"><a target="_blank" rel="nofollow" href="https://ldstore.vn/chinh-sach-van-chuyen-giao-nhan/" class="item-link"><span class="have-title"><span class="menu-title">Chính sách vận chuyển</span></span></a></li>
                                        <li class="menu-quy-dinh-thanh-toan ya-menu-custom level1"><a target="_blank" rel="nofollow" href="https://ldstore.vn/quy-dinh-va-hinh-thuc-thanh-toan/" class="item-link"><span class="have-title"><span class="menu-title">Quy định thanh toán</span></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="footer-column">
                                <div class="footer-border">
                                    <div class="footer-title">
                                        <h2>Cửa hàng tại Hồ Chí Minh</h2>
                                    </div>
                                    <div class="textwidget">
                                        <ul>
                                            <li><span class="fas fa-map-marker-alt" style="font-size: 16px; position: relative; top: 1px;">&nbsp;</span>Địa chỉ : Đang cập nhật</li>
                                            <li><span class="fas fa-mobile">&nbsp;</span>Điện thoại : <a href="http://tel+84911479999/" class="external" rel="nofollow" target="_blank">0911479999</a></li>
                                        </ul>
                                        <div class="footer-title" style="margin-top:20px">
                                            <h2>Cửa hàng tại Đắk Lắk</h2>
                                        </div>
                                        <ul>
                                            <li><span class="fas fa-map-marker-alt">&nbsp;</span>Địa chỉ: Số 195 Lê Duẩn TP. Buôn Ma Thuột , Đắk Lắk</li>
                                            <li><span class="fas fa-mobile">&nbsp;</span>Điện thoại : <a href="http://tel+84911479999/" class="external" rel="nofollow" target="_blank">0911479999</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-column">
                                <div class="footer-border">
                                    <div class="footer-title">
                                        <h2>Cửa hàng tại Hà Nội</h2>
                                    </div>
                                    <div class="textwidget">
                                        <div class="content-block-footer">
                                            <ul>
                                                <li><span class="fas fa-map-marker-alt" style="font-size: 16px; position: relative; top: 1px;">&nbsp;</span>Địa chỉ: Số 157 Trần Quốc Hoàn , Cầu Giấy , Hà Nội.</li>
                                                <li><span class="fas fa-mobile" style="font-size: 18px; position: relative; top: 4px;">&nbsp;</span>Điện thoại : <a title="Call:0924049999" href="tel:+84924049999" data-wpel-link="internal">0924049999</a></li>
                                                <li><span class="fas fa-envelope" style="font-size: 11px; position: relative;">&nbsp;</span>E-mail: <a title="ldstorevn8@gmail.com" href="mailto:ldstorevn8@gmail.com">ldstorevn8@gmail.com</a></li>
                                                <li><span class="fab fa-youtube" style="font-size: 11px; position: relative; color: #f00;">&nbsp;</span> <a title="Lâm SmartWatch" href="https://www.youtube.com/channel/UCyoQY5n_Q6xoLTxf0g6fPDw?sub_confirmation=1" class="external" rel="nofollow" target="_blank">Kênh Youtube</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-column">
                                <div class="footer-border">
                                    <div class="textwidget">
                                        <p><a title="Ldstore trên Shopee" href="https://go.masoffer.net/moyuqz" rel="nofollow" class="external" target="_blank"><img class="wp-image-13533 aligncenter" style="width: 200px;" src="/Assets/Client/img/ldstore-shopee1.png" alt="Ldstore trên Shopee"></a></p>
                                        <p><a title="Ldstore trên Lazada" href="https://go.masoffer.net/moRzys" rel="nofollow" class="external" target="_blank"><img class="wp-image-13533 aligncenter" style="width: 200px;" src="/Assets/Client/img/ldstore-lazada1.png" alt="Ldstore trên Lazada"></a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-column">
                                <div class="footer-border">
                                    <div class="textwidget">
                                        <p><a title="Video đánh giá smartwatch mới nhất" href="https://www.youtube.com/channel/UCyoQY5n_Q6xoLTxf0g6fPDw?sub_confirmation=1" rel="nofollow" class="external" target="_blank"><img class="wp-image-13533 aligncenter" src="/Assets/Client/img/YOUTUBE.png" alt="Video đánh giá smartwatch mới nhất" style="width: 200px;"></a></p>
                                        <p><a title="Đã thông báo với bộ công thương" href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=56868" rel="nofollow" class="external" target="_blank"><img class="wp-image-13533 aligncenter" src="/Assets/Client/img/20150827110756-dathongbao.png" alt="" style="width: 200px;"></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom-sevicer">
                        <div class="container">
                            <div class="widget-1 widget-first widget text-18 widget_text">
                                <div class="widget-inner">
                                    <div class="textwidget">
                                        <div class="box-sevicer">
                                            <div class="sn-sevirce sn-put1">
                                                <div class="img-sevirce img-sevirce1"></div>
                                                <div class="content-service">
                                                    <a class="sn-title" href="https://ldstore.vn/#" rel="nofollow" data-wpel-link="internal">Chất lượng đảm bảo</a><br>
                                                    Đảm bảo chất lượng đúng như mô tả
                                                </div>
                                            </div>
                                            <div class="sn-sevirce sn-put2">
                                                <div class="img-sevirce img-sevirce2"></div>
                                                <div class="content-service">
                                                    <a class="sn-title" href="https://ldstore.vn/#" rel="nofollow" data-wpel-link="internal">Tư vấn tận tình</a><br>
                                                    Hỗ trợ tư vấn mua bán smartwatch sản phẩm tùy theo nhu cầu sử dụng
                                                </div>
                                            </div>
                                            <div class="sn-sevirce sn-put3">
                                                <div class="img-sevirce img-sevirce3"></div>
                                                <div class="content-service">
                                                    <a class="sn-title" href="https://ldstore.vn/#" rel="nofollow" data-wpel-link="internal">Giao hàng nhanh chóng</a><br>
                                                    Nội thành trong vòng 3 giờ. Các tỉnh từ 2-3 ngày làm việc.
                                                </div>
                                            </div>
                                            <div class="sn-sevirce sn-put4">
                                                <div class="img-sevirce img-sevirce4"></div>
                                                <div class="content-service">
                                                    <a class="sn-title" href="https://ldstore.vn/#" rel="nofollow" data-wpel-link="internal">Bảo hành chu đáo</a><br>
                                                    1 đổi 1 không thay thế sữa chữa tất cả sản phẩm
                                                </div>
                                            </div>
                                            <div class="sn-sevirce sn-put5">
                                                <div class="img-sevirce img-sevirce5"></div>
                                                <div class="content-service">
                                                    <a class="sn-title" href="https://ldstore.vn/#" rel="nofollow" data-wpel-link="internal">Bảo mật thanh toán</a><br>
                                                    Thanh toán quẹt thẻ tiện lợi bảo mật bao gồm Visa , Master , nội địa atm …
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-bottom">
                        <div class="footer-bottom-content container clearfix">
                            <div class="copyright-footer pull-left">
                                © Bản quyền thuộc về LD STORE | Giấy chứng nhận ĐKKD số 01G8021941 do UBND Quận Cầu Giấy - Hà Nội cấp ngày 04/01/2018
                            </div>
                            <div class="payment">
                                <ul class="payment-method pull-right">
                                    <li><a class="payment1" title="Payment Method" href="https://ldstore.vn/#"></a></li>
                                    <li><a class="payment2" title="Payment Method" href="https://ldstore.vn/#"></a></li>
                                    <li><a class="payment3" title="Payment Method" href="https://ldstore.vn/#"></a></li>
                                    <li><a class="payment4" title="Payment Method" href="https://ldstore.vn/#"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="success-alert" style="display: none"><i class="fas fa-check-circle"></i>Sản phẩm đã được thêm vào giỏ hàng.</div>
    <div id="empty-alert" style="display: none"><i class="fas fa-check-circle"></i>Giỏ hàng của bạn đang trống!</div>
    <a id="ya-totop" href="#"></a>
    <script src="/Assets/Client/js/jquery-3.3.1.min.js"></script>
    <script src="/Assets/Client/js/CartController.js"></script>
    <script src="/Assets/Client/js/slick-1.8.1/slick/slick.min.js"></script>
    <script>
        var backButton = '<div class="tp-leftarrow tparrows gyges" style="top: 50%; transform: matrix(1, 0, 0, 1, 20, -20); left: 0px;"></div>';
        var nextButton = '<div class="tp-rightarrow tparrows gyges" style="top: 50%; transform: matrix(1, 0, 0, 1, -60, -20); left: 100%;"></div>'
        $('.header_banner').slick({
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            prevArrow: backButton,
            nextArrow: nextButton,
        });
        var back = '<span class="res-button slick-prev slick-arrow"></span>';
        var next = '<span class="res-button slick-next slick-arrow"></span>'
        $('.product-slider').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 1,
            prevArrow: back,
            nextArrow: next,
            autoplay: true,
            autoplaySpeed: 5000,
        });
        var backSlider = '<span data-role="none" class="res-button slick-prev slick-arrow" aria-label="previous" style="display: block;"></span>';
        var nextSlider = '<span data-role="none" class="res-button slick-next slick-arrow" aria-label="next" style="display: block;"></span>'
        $('.brand-slider').slick({
            infinite: true,
            slidesToShow: 6,
            slidesToScroll: 1,
            prevArrow: backSlider,
            nextArrow: nextSlider,
            autoplay: true,
            autoplaySpeed: 5000,
        });
    </script>
    @RenderSection("js", required: false)
</body>
</html>